:root {
  --primary-font: 'Poppins', sans-serif;
  --secondary-font: 'Playfair Display', serif;
  --black: #313131;
  --brown: #9B9A78;
  --max-width-page: 1400px;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  margin-left: 40px;
  margin-right: 40px;
  padding: 16px;
  max-width: var(--max-width-page);
  box-sizing: border-box;
  font-family: var(--primary-font);
}

header.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav.main-nav ul {
  display: flex;
  gap: 50px;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav.main-nav a {
  text-decoration: none;
  color: var(--black);
}

nav.main-nav a:hover {
  color: var(--brown);
}

nav.main-nav a.active {
  color: var(--brown);
}

aside.login ul {
  display: flex;
  align-items: center;
  gap: 30px;
  list-style: none;
}

aside.login a.link {
  color: var(--brown);
}

aside.login a.button {
  text-decoration: none;
  color: white;
  background-color: var(--brown);
  padding: 10px 20px;
  border-radius: 1px;
  transition: all 0.3s ease;
}

aside.login a.button:hover {
  background-color: var(--black);
}